body {
    background-color: #343434;
    color: whitesmoke;
}

.square {
    background-color: #000;
    margin:auto;
    width:70%;
    height:70%;
}

#header {

}

.square h1 {
    color: #fff;
}

p#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 200%;
}